<mat-toolbar class="toolbar" color="primary">
  <span class="title">{{title}}</span>
  <mat-form-field class="url" subscriptSizing="dynamic">
    <mat-label>YouTube-URL</mat-label>
    <input matInput [(ngModel)] ="youTubeUrl" (keyup.enter)="addYouTubeUrlToPlaylist()">
  </mat-form-field>
  <button mat-icon-button color="accent" 
          (click)="addYouTubeUrlToPlaylist()"
          matTooltip="Add video to list">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="playlist">
    <mat-form-field class="playlist-name" subscriptSizing="dynamic">
      <mat-label>Playlist-Name</mat-label>
      <input matInput [(ngModel)] ="playlistName">
    </mat-form-field>
    <div class="playlist-controls">
      <button mat-icon-button color="accent" 
              (click)="play()"
              matTooltip="Play">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button color="accent" 
              (click)="pause()"
              matTooltip="Pause">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-icon-button color="accent" 
              (click)="stop()"
              matTooltip="Stop">
        <mat-icon>stop</mat-icon>
      </button>
      <button mat-icon-button color="accent" 
        (click)="backward()"
        matTooltip="Backward">
        <mat-icon>fast_rewind</mat-icon>
      </button>
      <button mat-icon-button color="accent" 
              (click)="forward()"
              matTooltip="Forward">
        <mat-icon>fast_forward</mat-icon>
      </button>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-list>
        <mat-list-item 
        *ngFor="let video of this.playlistService.playlist(); let i = index" 
        cdkDrag 
        (click)="selectVideo(video)" 
        [class.selected]="video?.id === appStateService.selectedVideo()?.id"
        matTooltip="{{ video.title || 'ID: '+video.id }}">
        {{ video.title || 'ID: '+video.id }}
      </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content class="content">
    <app-video class="video-player"></app-video>
  </mat-sidenav-content>
</mat-sidenav-container>