:host {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 1 auto;
}

.playlist {
    width: 350px;
    padding: 16px;
    background: #f4f4f4;
}

.playlist-controls {
    justify-self: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title {
    margin-right: 1em;
}

.url {
    flex: 1;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.toolbar {
    align-items: center;
}

.video-player {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.playlist-name {
    width: 100%;
}

.selected {
    color: var(--mat-sys-on-primary) !important;
    background-color: var(--mat-sys-primary);
}